name: Test Charts
on:
  push:
    branches:
      - main

  pull_request:
    types: [ opened, reopened, synchronize ]
    paths:
      - "sickhub/**"
      - ".github/workflows/**"

jobs:
  test:
    name: Test Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --chart-dirs sickhub --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
      - name: Run chart-testing (lint)
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          ct lint --chart-dirs sickhub --all

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0
        if: github.ref == 'refs/heads/master' || steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        id: chart-install
        run: ct install --chart-dirs sickhub --remote origin --all
        if: github.ref == 'refs/heads/master' || steps.list-changed.outputs.changed == 'true'
